<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap %}
<html>
<head>
	<title></title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

	<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">

	<style>
		body{

  			height: 100%;
  			margin: 0;
  			padding: 0;
		}
		
		.elemento-pai {

  			width: 100%;
  			height: 100%;
  			text-align: center;
  			
		}

		.elemento-pai:before {
			content: '';
  			display: inline-block;
  			height: 100%;
  			vertical-align: middle;
  		}

  		#tudo{
  			width: 50%;
 			height: 50%;
  			display: inline-block;
  			vertical-align: middle;
  			text-align: left;
		}
	</style>

</head>
<body>
	<div class="elemento-pai">
	<div class="container-fluid" id="tudo" >
		<form action="." method="POST">
			<div class="row">
				<div class="input-group">
					<input type="text" name="nome" class="form-control" required="true" placeholder="Search for...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">Go!</button>
					</span>
				</div> 	
			</div>
		</form>
	</div>
	</div>	
</body>
</html>